*{
    margin: 0;
    padding:0;
    list-style: none;
    font-size:12px;
}

#box{
    width:100px;
    border:1px solid slateblue;
    float: left;
}
#ul1 li,#ul2 li{
    height:40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid slateblue;
}
h2{
    text-align: center;
}
#box2{
    width:100px;
    float: right;
    border:1px solid slateblue;
}