*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #eee;
}
#box{
    margin: auto;
    width: 1244px;
}
.head{
    width: 100%;
    height: 142px;
    overflow: hidden;
}
.head li{
    float: left;
    width: 236px;
    height: 126px;
    margin: 0 16px 16px 0;
    overflow: hidden;
}
.head li:nth-child(5){
    margin-right: 0;
}
.head li img{
    width: 100%;
}
.body{
    width: 100%;
    overflow: hidden;
}
.body li{
    float: left;
    width: 236px;
    margin: 0 16px 16px 0;
    border-radius: 5px;
   
}
.body li:nth-child(5){
    margin-right: 0;
}
.body li div{
    transition: all 0.2s;
    margin-bottom: 16px;
    background: #fff;
}
.body li div:hover{
    box-shadow: 0px 5px 6px 6px #ccc;
    transform: translateY(-2px)
}
.img_box{
    width: 100%;
}
.img_box img{
    width: 100%;
    opacity: 0;
    transition: .5s;
}
.img_box .desc{
    font-size: 15px;
    padding:0 10px;
    color: #ccc;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f2f2f2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.img_box .author{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center
}

#loading{
    width:100%;
    text-align: center;
    background: #fff;
    position: fixed;
    bottom: 0;
    height:100px;
    overflow: hidden;
}
#loading img{
    position: absolute;
    top: -32px;
    left: 50%;
    margin-left: -125px;
}

